.markdown {
    line-height: 28px;
    --path: none;
    --radius-top: 12px;
    --radius-bottom: 12px;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
}

.markdown p {
    @apply pb-8;
}

.markdown a {
    @apply border-b-[1px] border-primary text-primary;
}

.markdown hr {
    @apply pt-8 opacity-60 dark:opacity-10;
}

.markdown h2 {
    @apply mt-2 pb-8 text-3xl font-bold;
}

.markdown h3 {
    @apply mt-2 pb-8 text-2xl font-bold;
}

.markdown h4 {
    @apply mt-2 pb-8 text-xl font-bold;
}

.markdown :not(pre) > code {
    border-radius: 10px;
    background: hsl(var(--muted));
    color: hsl(var(--muted-foreground));
    padding: 0.15em 0.2em 0.05em;
    white-space: normal;
}

.markdown pre {
    @apply -mx-4 mb-8 overflow-y-auto p-4 text-sm bg-muted;
    clip-path: var(--path);
    border-top-right-radius: var(--radius-top);
    border-top-left-radius: var(--radius-top);
    border-bottom-right-radius: var(--radius-bottom);
    border-bottom-left-radius: var(--radius-bottom);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.markdown pre code {
    width: auto;
}

.markdown blockquote {
    @apply relative -left-2 -ml-4 mb-8 pl-4;
    font-style: italic;
    border-left: 3px solid hsl(var(--primary));
    opacity: 0.8;
}

.markdown ul {
    @apply mb-8 list-disc pl-4;
}

.markdown li {
    @apply mb-2;
}

.markdown img {
    @apply mb-8 rounded-lg;
    max-width: 100%;
}

/* Add these styles for tables */
.markdown table {
  @apply w-full mb-8;
}

.markdown table th {
  @apply p-2 text-left font-bold bg-zinc-900 text-white;
}

.markdown table td {
  @apply p-2 border-b border-zinc-800;
}

.markdown table tr:nth-child(even) {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

.markdown table tr:nth-child(odd) {
  @apply bg-white dark:bg-zinc-800;
}

/* For the star ratings */
.markdown td:has(⭐️) {
  @apply whitespace-nowrap;
}